.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #dbc441;
  padding: 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item-list > li {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item-list > li a{
  text-decoration: none;
  color: black;
}

.main-header__item-list > li a:hover,
.main-header__item-list > li a:active,
.main-header__item-list > li a.active {
  color: #3e00a1;
}